@font-face {
  font-family: "iconfont"; /* Project id 2629194 */
  src: url('//at.alicdn.com/t/font_2629194_ujno9gzibg.woff2?t=1624442567504') format('woff2'),
  url('//at.alicdn.com/t/font_2629194_ujno9gzibg.woff?t=1624442567504') format('woff'),
  url('//at.alicdn.com/t/font_2629194_ujno9gzibg.ttf?t=1624442567504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logos:before {
  content: "\e616";
}
